<div id="wrapper">
	<div class="container">

		<div class="fondo"></div>

		<div class="seccion home">

			<%= image_tag "fondo.png", :class => "uno"%>
			<%= image_tag "logo.png", :class => "dos"%>
			<%= image_tag "monje.png", :class => "tres"%>

      <div id="social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-gavel" aria-hidden="true"></i></a>
      </div>

		</div>

		<div class="seccion games">Games</div>



	</div>

</div>