<div id="wrapper">
	<div class="container">

		<div class="fondo"></div>

		<div class="seccion home">Home
			<div class="text"></div>
			<div class="box"></div>

		</div>

		<div class="seccion games">Games</div>

	</div>

</div>