<div id="wrapper">
	<div class="container">

		<div class="fondo"></div>

		<div class="seccion home">Home
			<div class="text"></div>

			<div class="box uno"></div>
      <div class="box dos"></div>
      <div class="box tres"></div>

		</div>

		<div class="seccion games">Games</div>

    <footer>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-behance" aria-hidden="true"></i>
      <i class="fa fa-gavel" aria-hidden="true"></i>
    </footer>

	</div>

</div>