<div id="wrapper">
	<div class="landing">

		<div class="seccion home">

	      <div class="container">
	      	<%= image_tag "templo.png", :class => "templo uno"%>
			<%= image_tag "logo.png", :class => "dos"%>
			<%= image_tag "monje.png", :class => "tres"%>
			<%= image_tag "globo.png", :class => "g-play play"%>
	      </div>

      <div id="social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-gavel" aria-hidden="true"></i></a>
      </div>

		</div>

		<div class="seccion games">Games</div>



	</div>

</div>