<div id="wrapper">
	<div class="container">

		<div class="fondo"></div>

		<div class="seccion home">Home
			<div id="slider"></div>
			<div id="layer-one"></div>
			<div id="layer-two"></div>
			<div id="layer-three"></div>

		</div>

		<div class="seccion games">Games</div>

	</div>

</div>