<div id="wrapper">
	<div class="container">

		<div class="fondo"></div>

		<div class="seccion home">Home
			<div class="text"></div>

			<div class="box uno"></div>
      <div class="box dos"></div>
      <div class="box tres"></div>

      <div id="social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-gavel" aria-hidden="true"></i></a>
      </div>

		</div>

		<div class="seccion games">Games</div>



	</div>

</div>