<div id="windows">
  <div class ="container">

    <header>
      <div class="logo">LOGO</div>
    </header>

    <div id="juego1"  class="juego">
      <p>juego1</p>
      <div><img src="http://s3.amazonaws.com/lcp/remiskungfu-taichiacademy/myfiles/sifunewyork2.jpg" alt="">
      </div>
    </div>

    <div id="juego2"  class="juego">
      <p>juego2</p>
      <div><img src="http://s3.amazonaws.com/lcp/remiskungfu-taichiacademy/myfiles/sifunewyork2.jpg" alt="">
      </div>
    </div>

    <div id="juego3"  class="juego">
      <p>juego3</p>
      <div><img src="http://s3.amazonaws.com/lcp/remiskungfu-taichiacademy/myfiles/sifunewyork2.jpg" alt="">
      </div>
    </div>


  </div>
</div>