// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  padding: 0;
  box-sizing: border-box;
}

#wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 500px;
  overflow: auto; 

}

#wrapper>.container{
  position: relative;
  width: 200%;
  height: inherit;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

//games container
.container>.seccion{
  background: #888;
  position: relative;
  color: white;
  width: 50%;
  height: inherit;
  flex: 0 1 auto;

  border-style: dotted;
  border-width: 1px;
}

.box{
  width: 300px;
  height: 300px;
  background: white;
  position: relative;
  left: 500px;
}