// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";



*{
  padding: 0;
  box-sizing: border-box;
}

#wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 500px;
  overflow-y: hidden;
  overflow-x: auto;

}

#wrapper>.landing{
  position: relative;
  width: 200%;
  height: inherit;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

}


.landing>.seccion{
  background: #888;
  position: relative;
  color: white;
  width: 50%;
  height: inherit;
  flex: 0 1 auto;

  border-style: dotted;
  border-width: 1px;
}

.container{
  margin: 0 auto;
  width: 1100px;
  height: inherit;
  position: relative;
}

.home img{
  position: absolute;
}

.uno{
  width: 110%;
}

.dos{
  height: 55%;
  left: 65%;
}

.tres{
  top: 10%;
  height: 85%;
}

#social{
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
  z-index: 2;

}

#social a{
  color: white;
  font-size: 1em;
  margin: 0 20px;
}